In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [4]:
%sql SELECT * FROM songplays ORDER BY song_id LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(2, datetime.datetime(2018, 11, 30, 1, 8, 41, 796000), 73, 'paid', None, None, 73, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (3, datetime.datetime(2018, 11, 30, 1, 12, 48, 796000), 73, 'paid', None, None, 73, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (4, datetime.datetime(2018, 11, 30, 1, 17, 5, 796000), 73, 'paid', None, None, 73, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (5, datetime.datetime(2018, 11, 30, 1, 20, 56, 796000), 73, 'paid', None, None, 73, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (1, datetime.datetime(2018, 11, 30, 0, 22, 7, 796000), 91, 'free', None, None, 91, 'Dallas-Fort Worth-Arlington, TX', 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0)')]

In [4]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(91, 'Jayden', 'Bell', 'M', 'free'),
 (73, 'Jacob', 'Klein', 'M', 'paid'),
 (86, 'Aiden', 'Hess', 'M', 'free'),
 (24, 'Layla', 'Griffin', 'F', 'paid'),
 (26, 'Ryan', 'Smith', 'M', 'free')]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 219),
 ('SOUDSGM12AC9618304', 'Insatiable (Instrumental Version)', 'ARNTLGG11E2835DDB9', 0, 266),
 ('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984, 270),
 ('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, 190),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148)]

In [10]:
%sql SELECT * FROM artists;

 * postgresql://student:***@127.0.0.1/sparkifydb
69 rows affected.

[('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', None, None),
 ('ARNTLGG11E2835DDB9', 'Clp', '', None, None),
 ('AR8ZCNI1187B9A069B', 'Planet P Project', '', None, None),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', None, None),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35, -90),
 ('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', None, None),
 ('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', None, None),
 ('ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', 35, -80),
 ('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', None, None),
 ('ARXR32B1187FB57099', 'Gob', '', None, None),
 ('ARKRRTF1187B9984DA', 'Sonora Santanera', '', None, None),
 ('ARIG6O41187B988BDD', 'Richard Souther', 'United States', 37, -96),
 ('AR1ZHYZ1187FB3C717', 'Faiz Ali Faiz', '', None, None),
 ('ARD842G1187B997376', 'Blue Rodeo', 'Toronto, Ontario, Canada', 44, -79),
 ('ARL7K851187B99ACD2', 'Andy Andy', '', None, None),
 ('ARHHO3O1187B989413', 'Bob Azzam', '', None, None),
 ('ARYKCQI1187FB3B18F', 'Tesla', '', None, None),
 ('ARQGYP71187FB44566', 'Jimmy Wakely', 'Mineola, AR', 34, -94),
 ('ARNPAGP1241B9C7FD4', 'lextrical', '', None, None),
 ('ARC43071187B990240', 'Wayne Watson', 'Wisner, LA', None, None),
 ('ARI3BMM1187FB4255E', 'Alice Stuart', 'Washington', 39, -77),
 ('ARIK43K1187B9AE54C', 'Lionel Richie', 'Beverly Hills, CA', None, None),
 ('AREBBGV1187FB523D2', "Mike Jones (Featuring CJ_ Mello & Lil' Bran)", 'Houston, TX', None, None),
 ('ARB29H41187B98F0EF', 'Terry Callier', 'Chicago', 42, -88),
 ('ARDNS031187B9924F0', 'Tim Wilson', 'Georgia', 33, -83),
 ('ARMAC4T1187FB3FA4C', 'The Dillinger Escape Plan', 'Morris Plains, NJ', 41, -74),
 ('AR0RCMP1187FB3F427', 'Billie Jo Spears', 'Beaumont, TX', 30, -94),
 ('AR47JEX1187B995D81', 'SUE THOMPSON', 'Nevada, MO', 38, -94),
 ('ARH4Z031187B9A71F2', 'Faye Adams', 'Newark, NJ', 41, -74),
 ('ARGIWFO1187B9B55B7', 'Five Bolt Main', '', None, None),
 ('AR5KOSW1187FB35FF4', 'Elena', 'Dubai UAE', 50, 15),
 ('AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', 28, -82),
 ('AROUOZZ1187B9ABE51', 'Willie Bobo', 'New York, NY [Spanish Harlem]', 41, -74),
 ('ARAJPHH1187FB5566A', 'The Shangri-Las', 'Queens, NY', 41, -74),
 ('ARGUVEV1187B98BA17', 'Sierra Maestra', '', None, None),
 ('AR9AWNF1187B9AB0B4', 'Kenny G featuring Daryl Hall', 'Seattle, Washington USA', None, None),
 ('ARQ9BO41187FB5CF1F', 'John Davis', 'Pennsylvania', 41, -78),
 ('AR7ZKHQ1187B98DD73', 'Glad', '', None, None),
 ('ARMBR4Y1187B9990EB', 'David Martin', 'California - SF', 38, -122),
 ('ARI2JSK1187FB496EF', 'Nick Ingman;Gavyn Wright', 'London, England', 52, 0),
 ('ARKULSX1187FB45F84', 'Trafik', 'Utah', 39, -112),
 ('AR3JMC51187B9AE49D', 'Backstreet Boys', 'Orlando, FL', 29, -81),
 ('AREDBBQ1187B98AFF5', 'Eddie Calvert', '', None, None),
 ('AROGWRA122988FEE45', 'Christos Dantis', '', None, None),
 ('ARPBNLO1187FB3D52F', 'Tiny Tim', 'New York, NY', 41, -74),
 ('AREDL271187FB40F44', 'Soul Mekanik', '', None, None),
 ('ARP6N5A1187B99D1A3', 'Mitch Ryder', 'Hamtramck, MI', None, None),
 ('ARBGXIG122988F409D', 'Steel Rain', 'California - SF', 38, -122),
 ('ARGSAFR1269FB35070', 'Blingtones', '', None, None),
 ('AR62SOJ1187FB47BB5', 'Chase & Status', '', None, None),
 ('ARDR4AC1187FB371A1', 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', '', None, None),
 ('ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', None, None),
 ('ARNNKDK1187B98BBD5', 'Jinx', 'Zagreb Croatia', 46, 16),
 ('AR7SMBG1187B9B9066', 'Los Manolos', '', None, None),
 ('ARGCY1Y1187B9A4FA5', 'Gloriana', 'Nashville, TN.', 36, -87),
 ('AR36F9J1187FB406F1', 'Bombay Rockers', 'Denmark', 56, 10),
 ('ARAGB2O1187FB3A161', 'Pucho & His Latin Soul Brothers', '', None, None),
 ('ARJIE2Y1187B994AB7', 'Line Renaud', '', None, None),
 ('ARVBRGZ1187FB4675A', 'Gwen Stefani', '', None, None),
 ('AR558FS1187FB45658', '40 Grit', '', None, None),
 ('ARNF6401187FB57032', 'Sophie B. Hawkins', 'New York, NY [Manhattan]', 41, -74),
 ('AR0IAWL1187B9A96D0', 'Danilo Perez', 'Panama', 8, -80),
 ('AR051KA1187B98B2FF', 'Wilks', '', None, None),
 ('ARWB3G61187FB49404', 'Steve Morse', 'Hamilton, Ohio', None, None),
 ('ARULZCI1241B9C8611', 'Luna Orbit Project', '', None, None),
 ('ARLTWXK1187FB5A3F8', 'King Curtis', 'Fort Worth, TX', 33, -97),
 ('ARPFHN61187FB575F6', 'Lupe Fiasco', 'Chicago, IL', 42, -88),
 ('AR8IEZO1187B99055E', 'Marc Shaiman', '', None, None),
 ('AREVWGE1187B9B890A', 'Bitter End', 'Noci (BA)', -13, -42)]

In [9]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 30, 0, 22, 7, 796000), 0, 30, 48, 11, 2018, 4),
 (datetime.datetime(2018, 11, 30, 1, 8, 41, 796000), 1, 30, 48, 11, 2018, 4),
 (datetime.datetime(2018, 11, 30, 1, 12, 48, 796000), 1, 30, 48, 11, 2018, 4),
 (datetime.datetime(2018, 11, 30, 1, 17, 5, 796000), 1, 30, 48, 11, 2018, 4),
 (datetime.datetime(2018, 11, 30, 1, 20, 56, 796000), 1, 30, 48, 11, 2018, 4)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).